<p id="notice"><%= notice %></p>


<%= panel_with_body title: 'Filters' do
  bootstrap_table do |table|
    table.headers << 'Field'
    table.headers << 'Operator'
    table.headers << 'Arguments'
    table.headers << 'Negation'
    table.headers << 'Show'
    table.headers << 'Edit'
    table.headers << 'Destroy'

    @filter_criterias.each do |filter_criteria|
      table.rows << [
          filter_criteria.field_name,
          Riews::FilterCriteria.operators[filter_criteria.operator],
          filter_criteria.arguments.map(&:value).join(', '),
          filter_criteria.negation,
          link_to('Show filter', view_filter_path(filter_criteria.view, filter_criteria)),
          link_to('Edit filter', edit_view_filter_path(filter_criteria.view, filter_criteria)),
          link_to('Destroy filter', view_filter_path(filter_criteria.view, filter_criteria), method: :delete, data: { confirm: 'Are you sure?' })
      ]
    end
  end
end %>

<br>

<%= link_to 'New Filter', new_view_filter_path(@view) %> |
<%= link_to 'View', view_path(@view) %>
