<!DOCTYPE html>
<html>
<head>
  <title>Riews</title>
  <%= stylesheet_link_tag    "riews/application", media: "all" %>
  <%= javascript_include_tag "riews/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
